.babyContainer{
background-color:rgb(225,225,225);
min-height:100vh;
height:100%;
}


.apiLoadingContainer{
    text-align: center;
    padding: 20% 0;
}

.apiLoadingImage{
    opacity: 0.3;
}
.apiLoading {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .apiLoading div {
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: rgb(204, 122, 15);
    animation: apiLoading 1.2s linear infinite;
  }
  .apiLoading div:nth-child(1) {
    top: 8px;
    left: 8px;
    animation-delay: 0s;
  }
  .apiLoading div:nth-child(2) {
    top: 8px;
    left: 32px;
    animation-delay: -0.4s;
  }
  .apiLoading div:nth-child(3) {
    top: 8px;
    left: 56px;
    animation-delay: -0.8s;
  }
  .apiLoading div:nth-child(4) {
    top: 32px;
    left: 8px;
    animation-delay: -0.4s;
  }
  .apiLoading div:nth-child(5) {
    top: 32px;
    left: 32px;
    animation-delay: -0.8s;
  }
  .apiLoading div:nth-child(6) {
    top: 32px;
    left: 56px;
    animation-delay: -1.2s;
  }
  .apiLoading div:nth-child(7) {
    top: 56px;
    left: 8px;
    animation-delay: -0.8s;
  }
  .apiLoading div:nth-child(8) {
    top: 56px;
    left: 32px;
    animation-delay: -1.2s;
  }
  .apiLoading div:nth-child(9) {
    top: 56px;
    left: 56px;
    animation-delay: -1.6s;
  }
  @keyframes apiLoading {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
  }
  