 
.homeContainer{
    margin: auto;   
    padding: 30px 0;
    text-align: center;
    
}

.carouselImage{
    min-height: 200px;
    background-color: #cccccc;  
    height: 60vh; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;  
    color:red
}

.cardItemLink{
    text-decoration: none;
}
.cardItem{
    opacity: 0.5;
    color:rgb(218, 168, 178);
    margin-bottom: 10px;
}
.cardImage{
    height:20vh;
    object-fit: cover;
  
}
.cardItem:hover{
    opacity: 1;
    color:rgb(255, 255, 255);
}

.cardTitle{
    font-size: 1em;
  
}
.cardBody{
    background-color: black;
}